.button {
    position: relative;
    width: fit-content;
    color: #000;
    padding: 12px 16px;
    border-radius: 3px;
    transition: background-color 80ms ease;
    background-color: rgba(0, 0, 0, 0.12);

    &:hover {
        color: #000;
        background-color: rgba(0, 0, 0, 0.16);
    }

    &.light {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.16);

        &:hover {
            color: #fff;
            background-color: rgba(155, 146, 146, 0.2);
        }
    }

    &.pink {
        color: #fff;
        @extend .primary\@bg;

        &:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &.disabled {
        pointer-events: none;
        user-select: none;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.72);

        &.light {
            border-color: rgba(255, 255, 255, 0.16);
            color: rgba(255, 255, 255, 0.72);
        }
    }
}
