.button {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    width: fit-content;
    padding: 16px 24px 17px 24px;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    border-radius: 6px;
    transform: translateY(0);
    appearance: none;
    -webkit-appearance: none;

    &.link {
        padding: 0;
        color: #181818;
        transition: color 100ms ease;

        &:hover {
            @extend .primary\@text;
        }
    }

    > svg {
        margin-left: 0;
        margin-right: -4px;
        transition: all 100ms ease;
        transition-property: margin-left, transform;
    }

    &:hover {
        > svg {
            margin-left: 4px;
            transform: rotate(-45deg);
        }
    }

    &.light {
        background-color: #fff;
    }

    &.dark {
        background-color: #181818;
    }

    &.pink {
        color: #fff;
        @extend .primary\@bg;

        &:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &.disabled {
        pointer-events: none;
        user-select: none;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.12);

        &.light {
            background-color: rgba(255, 255, 255, 0.16);
            color: rgba(255, 255, 255, 0.48);
        }
    }
}
