.mention {
    display: flex;
    padding: 48px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @extend .black100\@text;

    .label {
        @extend .black100\@bg;
        padding: 4px 8px 5px;
        border-radius: 4px;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        margin-right: 12px;
        letter-spacing: 0.3px;
        transition: background-color 80ms ease;
    }

    + .mention {
        border-top: 1px solid map-get($colors, gray10);
    }

    &:hover {
        .label {
            @extend .primary\@bg;
        }
    }

    @include below('md') {
        align-items: flex-start;
        flex-direction: column-reverse;

        > span + span {
            margin-bottom: 16px;
        }
    }
}
