nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 32px 0;
    position: sticky;
    top: 0;
    z-index: 1800;
    transition: transform 320ms ease;
    width: 100%;

    &.away {
        transform: translateY(-90px);
    }

    a.logo {
        font-weight: 500;;
    }

    .menu {
        @extend .white100\@text;
        background-color: #000;
        padding: 112px 0;
        will-change: height;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        will-change: auto;
        z-index: 2000;
        top: -100%;

        > .container {
            .splitter {
                margin-bottom: 48px;
                position: relative;
                color: rgba(255, 255, 255, 0.6);

                &::before {
                    content: ' ';
                    margin-right: 12px;
                    display: flex;
                    width: 24px;
                    height: 2px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }

        .socialicons {
            margin-top: 64px;

            a:hover .icon {
                @extend .white100\@text;
            }
        }

        a {
            @extend h3;
            white-space: nowrap;

            + a {
                margin-top: 40px;
            }
        }
    }

    .toggle {
        width: 24px;
        height: 24px;
    }

    .menutoggle {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .toggle {
        position: absolute;
        transition: right 800ms step-end, top 300ms ease;
        top: 32px;
        z-index: 3000;

        .toucharea {
            position: absolute;
            top: -12px;
            width: 48px;
            height: 48px;
            left: -12px;
            content: ' ';
        }

        &::before,
        &::after {
            @extend .black100\@bg;
            content: ' ';
            display: flex;
            width: 100%;
            height: 3px;
            position: absolute;
            right: 0;
            top: 7px;
            border-radius: 10px;
            transform-origin: center center;
            transition: all 450ms ease;
        }

        &::before {
            transition-timing-function: cubic-bezier(0.18, 0.89, 0, 2.28);
        }

        &::after {
            transition-delay: 100ms;
            transition-duration: 600ms;
            top: 15px;
            width: 64%;
        }
    }

    &.open {
        .toggle {
            &::before,
            &::after {
                top: 12px;
                right: 12px;
                @extend .white100\@bg;
            }

            &::before {
                transform: rotate(-45deg);
            }

            &::after {
                transform: rotate(225deg);
                width: 100%;
            }
        }
    }
}

nav .menu {
    transform: translateZ(0);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 450ms ease-in-out;
    transition-property: border-radius, top;

    .container > a {
        position: relative;
        width: fit-content;
        color: #fff;
        display: flex;

        > span {
            position: relative;
            transition: left 140ms ease-in-out;
            left: 0px;
        }

        .arrow {
            display: flex;
            position: relative;
            padding-left: 16px;
            bottom: -12px;
            transform: scale(0.8);
            transition: all 140ms ease-in-out;
            transition-property: transform, padding-left, opacity, bottom;
            opacity: 0.32;

            @include below('md') {
                bottom: 1px;
            }
        }

        &:hover {
            > span {
                transition: left 140ms ease-in-out;
                left: 24px;
            }

            .arrow {
                transform: scale(1);
                bottom: -14px;
                padding-left: 48px;
                opacity: 1;
            }

            @include below('md') {
                .arrow {
                    transform: scale(0.8);
                    bottom: 1px;
                    padding-left: 32px;
                    opacity: 1;
                }
            }
        }
    }

    .socialicons,
    .splitter,
    a {
        opacity: 0;
        transition: all 400ms ease;
        transition-property: transform, opacity, left;
    }

    .socialicons {
        transform: translateY(24px) translateZ(0);
        transition-delay: 600ms;
    }

    .splitter {
        transform: translateY(24px) translateZ(0);
        transition-delay: 400ms;
    }

    a {
        transform: translateY(-8px) translateZ(0);
        transition-delay: 600ms;
    }

    &.exited {
        visibility: hidden;
        pointer-events: none;
    }

    &.entering,
    &.entered {
        top: 0;
        border-radius: 0px;

        .socialicons {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

        .splitter {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

        a {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }
    }

    &.exiting {
        .socialicons,
        .splitter,
        a {
            transition-duration: 140ms !important;
            transition-delay: 0ms !important;
            opacity: 0;
        }
    }
}
