.project {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    overflow: hidden;
    transform: scale(1);
    transition: 180ms ease transform;

    > .info {
        max-width: 380px;
        pointer-events: auto;
    }

    > .image {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        height: 124%;
        width: 56%;
        background-size: cover;
        background-position: left -48px;
        background-repeat: no-repeat;
        transition: 180ms ease height;
        user-select: none;
        pointer-events: none;
        transform-origin: bottom right;
    }

    &.dark > .info {
        h4 {
            @extend .black100\@text;
        }

        p {
            color: rgba(0, 0, 0, 0.88);
        }
    }

    &.light > .info {
        h4 {
            @extend .white100\@text;
        }

        p {
            color: rgba(255, 255, 255, 0.88);
        }
    }



    &:hover {
        transform: scale(1.02);

        > .image {
            height: 128%;
        }
    }

    + .project {
        margin-top: 32px;
    }

    @include below('md') {
        flex-direction: column;
        margin-left: -32px;
        padding: 48px 32px;
        width: calc(100% + 64px);
        border-radius: 0;
        transform: scale(1) !important;

        &::after {
            border-radius: 0;
        }

        .image {
            display: none;
        }

        + .project {
            margin-top: 0;
        }
    }
}
