.splitter {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    > span {
        @extend .gray60\@text;
        display: flex;
        font-size: 14px;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
    }
}
