@font-face {
  font-family: "Calibre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./calibre-web-regular.woff2") format("woff2"),
    url("./calibre-web-regular.woff") format("woff");
}

@font-face {
  font-family: "Calibre";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("./calibre-web-semibold.woff2") format("woff2"),
    url("./calibre-web-semibold.woff") format("woff");
}
