.socialicons {
    > a {
        @extend .gray60\@text;

        > .icon {
            transition: transform 80ms ease;
            transform: scale(1);
        }

        &:hover {
            @extend .black100\@text;

            > .icon {
                transform: scale(1.2);
            }
        }

        &:active {
            > .icon {
                transform: scale(1);
            }
        }

        + a {
            margin-left: 32px;
        }
    }
}
