* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: map-get($fontFamilies, body);
    margin: 0;
    color: #111;
    font-size: map-get($fontSize, p);
    overflow-x: hidden;
    cursor: default;

    @each $name, $value in $fontSize {
        #{$name},
        .#{$name} {
            @if str-slice($name, 0, 1) == h {
                font-family: map-get($fontFamilies, heading);
                letter-spacing: 0.4px;
                font-weight: map-get($fontWeight, medium);
            }
        }
    }

    &.nooverflow {
        overflow: hidden;
    }

    p {
        color: #1b1b1b;
        font-weight: 400;
    }
}

.container {
    display: flex;
    max-width: 1020px;
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 80ms ease;

    &:not(.button):hover {
        @extend .primary\@text;
    }
}

p a {
    @extend .primary\@text;
}

strong {
    font-weight: 500;
}

#root {
    padding-top: 40px;
}

hr {
    @extend .gray10\@bg;
    border: none;
    height: 2px;
    width: 100%;
    margin: 0;
}

.sectionheader {
    p {
        font-size: map-get($fontSize, h6);
        line-height: map-get($lineHeight, h6);
    }
}

@include below("md") {
    h3 {
        font-size: 36px;
        line-height: 44px;
    }

    h4 {
        font-size: 32px;
        line-height: 36px;
    }

    h5 {
        font-size: 28px;
        line-height: 36px;
    }

    #root {
        padding-top: 0;
    }
}
