.intro {
    margin: 120px 0 152px 0;
    max-width: 800px;

    h3 {
        display: flex;
        align-items: center;

        > .avatar {
            margin-right: 20px;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
        }
    }
}
