nav {
    display: flex;
    flex-direction: column;
    position: relative;

    > .container {
        margin-top: 112px;
    }

    a.logo {
        font-family: 'DM Serif Text', serif;
    }

    .menu {
        @extend .white100\@text;
        background-color: #000;
        padding: 112px 0;
        will-change: height;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        will-change: auto;
        z-index: 2000;
        top: 0;

        > .container {
            .split {
                margin-bottom: 48px;
                position: relative;
                color: rgba(255, 255, 255, 0.6);

                &::before {
                    content: ' ';
                    margin-right: 12px;
                    display: flex;
                    width: 20px;
                    height: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }

        .social {
            margin-top: 64px;

            a:hover .icon {
                @extend .white100\@text;
            }
        }

        a {
            font-size: map-get($fontSize, 'h4');
            font-family: 'DM Serif Text', serif;

            + a {
                margin-top: 48px;
            }
        }
    }

    .menutoggle,
    .toggle {
        width: 24px;
        height: 24px;
    }

    .toggle {
        position: absolute;
        transition: right 800ms step-end;
        transition-delay: 800ms;
        top: 112px;
        z-index: 3000;

        &::before,
        &::after {
            @extend .black100\@bg;
            content: ' ';
            display: flex;
            width: 100%;
            height: 2px;
            position: absolute;
            right: 0;
            top: 7px;
            border-radius: 2px;
            transform-origin: center center;
            transition: all 450ms ease;
        }

        &::before {
            transition-timing-function: cubic-bezier(0.18, 0.89, 0, 2.28);
        }

        &::after {
            transition-delay: 100ms;
            transition-duration: 600ms;
            top: 15px;
            width: 64%;
        }
    }

    &.open {
        .toggle {
            &::before,
            &::after {
                top: 12px;
                right: 12px;
                @extend .white100\@bg;
            }

            &::before {
                transform: rotate(-45deg);
            }

            &::after {
                transform: rotate(225deg);
                width: 100%;
            }
        }
    }
}

nav .menu {
    top: -100%;
    transform: translateZ(0);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 450ms ease-in-out;
    transition-property: border-radius, top;

    .social,
    .split,
    a {
        opacity: 0;
        transition: all 400ms ease;
        transition-property: transform, opacity;
    }

    .social {
        transform: translateY(24px) translateZ(0);
        transition-delay: 600ms;
    }

    .split {
        transform: translateY(24px) translateZ(0);
        transition-delay: 400ms;
    }

    a {
        transform: translateY(-8px) translateZ(0);
    }

    &.entering,
    &.entered {
        top: 0;
        border-radius: 0px;

        .social {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

        .split {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }

        a {
            opacity: 1;
            transform: translateY(0) translateZ(0);
        }
    }

    &.exiting {
        .social,
        .split,
        a {
            transition-duration: 140ms !important;
            transition-delay: 0ms !important;
            opacity: 0;
        }
    }
}
