.project {
    padding: 80px;
    position: relative;
    overflow: hidden;

    &::after {
        @extend .r3;
        content: ' ';
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.08);
    }

    .info {
        max-width: 420px;
    }

    hr {
        display: inline-flex;
        margin: 32px 0;
        width: 148px;
        height: 1px;
        border: none;
    }

    &.dark {
        h5,
        .links {
            @extend .black100\@text;
        }

        .info > p {
            color: rgba(0, 0, 0, 0.8);
        }

        hr {
            background-color: rgba(0, 0, 0, 0.16);
        }
    }

    &.light {
        h5,
        .links {
            @extend .white100\@text;
        }

        .info > p {
            color: rgba(255, 255, 255, 0.8);
        }

        hr {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    + .project {
        margin-top: 32px;
    }

    .image {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        height: 124%;
        width: 56%;
        background-size: cover;
        background-position: left -48px;
        background-repeat: no-repeat;
        transition: 400ms ease height;
    }

    &:hover {
        .image {
            height: 128%;
        }
    }
}
