.split {
    display: flex;
    font-size: 16px;
    align-items: center;
    letter-spacing: 1px;

    > span {
        @extend .gray60\@text;
        display: flex;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 300;
    }
}
