.swapping {
    font-family: map-get($fontFamilies, 'heading');
    width: fit-content;
    display: flex;
    flex-grow: 1;

    > div {
        transition: transform 600ms ease, opacity 600ms ease, color 80ms ease;
        transform: translateY(0);
        opacity: 1;

        &.swapping {
            &-prev-leave {
                transform: translateY(-16px);
                opacity: 0;
            }

            &-next-leave {
                transform: translateY(16px);
                opacity: 0;
            }

            &-next-enter {
                transform: translateY(16px);
                opacity: 0;
            }

            &-next-enter-active {
                transition-delay: 200ms;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}
