$colors: (
    primary: #ff007d,
    gray60: #959595,
    gray20: #d8d8d8,
    white100: #fff,
    black100: #000,
    blossom100: #1f3046,
    figicons100: #30f,
    colorbook100: #000,
    framecss100: #d6d9de,
    overflow100: #EAF4F4,
    minicons100: #ff0060,
);

$fontSize: (
    h1: 96px,
    h2: 80px,
    h3: 48px,
    h4: 36px,
    h5: 32px,
    h6: 18px,
    p: 21px,
    small: 10px
);

$lineHeight: (
    h1: 112px,
    h2: 92px,
    h3: 56px,
    h4: 48px,
    h5: 32px,
    h6: 24px,
    p: 30px,
    small: 16px
);
