#header
  display flex
  width 100%
  flex 0 0 100%
  padding 2rem 0

#introduction
  display flex
  width 100%
  padding 10rem 0 14rem 0
  +below('m')
    padding 2rem 0 6rem 0
  h2 + h5
    margin-top 1.5rem

.inner .heading
  h2
    line-height 1.3em
    +below('m')
      font-size 2rem
  h2, h5
    display block
  h5
    color color-subheading
    font-weight 400
    letter-spacing 0
    margin 1rem 0
    +below('m')
      font-size 1.3rem
  a
    &:after
      absolute bottom -2px left
      border-bottom 1px dashed color-heading
      width 100%
      height 1px
      display block
      content ' '
    &:hover
      &:after
        border-bottom 1px solid color-primary

.project
  .col
    margin-top 3rem
  small
    text-transform uppercase
    font-weight 500
    letter-spacing .7px
    color color-pink
  h4 + p
    margin-top .5rem

  .na
    font-weight 500
    display block
    padding 1.2rem 0
    font-size .9rem
    a
      svg
        color text-light
        absolute top left
        height 21px
        width 21px
      span
        relative left 1.8rem
        color color-heading
        font-weight 500
        will-change left

  .link
    display block
    padding 1.2rem 0
    &.cr
      a
        span
          left 1.2rem
        svg
          left -4px

    a
      font-size .9rem
      display inline-block
      white-space nowrap
      span
        relative left 1.8rem
        top 2px
        transition left 250ms ease
        color color-heading
        font-weight 500
        will-change left
        line-height 1rem
        white-space nowrap
      svg
        color text-light
        absolute top left
        transition left 250ms ease
        height 22px
        width 20px
        will-change left
      &:after
        height 2.2rem
        absolute left 0 top -.51rem
        width 0%
        display block
        content ' '
        background-color background-lighter-grey
        z-index -1
        will-change width, left, opacity
        transform translate3d(0,0,0,0)
        transition width 200ms ease-in-out, left 250ms ease, opacity 250ms ease
        opacity 0
        border-radius border-radius-normal
      &:hover
        span
          left 2.8rem
        svg
          left .8rem
        &:after
          width calc(100% + 3.8rem)
          opacity 1

#projects + #tools
  margin-top 10rem

#footer
  display flex
  width 100%
  flex 0 0 100%
  padding 2rem 0
  margin-top 6rem
  .inner
    width 100%
    .float-right
      relative top -3px
    a.item
      color text-default
      &:hover
        color color-primary
    .item
      +below('m')
        text-align center
        padding 1rem 0
      .heart
        backface-visibility hidden
        will-change transform
        height 20px
        width 20px
        color color-primary
        fill color-primary
        relative top 3px
      code
        relative top -1px
        padding .2rem .4rem
        border 1px solid border-grey
        background-color transparent
        color color-heading
