#header
  display flex
  width 100%
  flex 0 0 100%
  padding 2rem 0

#introduction, .contain
  height 100%

#introduction
  display flex
  width 100%
  padding 10rem 0 14rem 0
  align-self center
  -webkit-backface-visibility hidden
  will-change height
  transform translate3d(0,0,0)
  overflow hidden
  position relative
  z-index 1000
  .inner
    will-change height
    transform translate3d(0,0,0)
    overflow hidden
    display flex
    -webkit-backface-visibility hidden
    margin-top -120px
    position relative
    z-index 1000
    .heading
      display flex
      align-self center
      flex 0 0 100%
      flex-direction column
  +below('m')
    padding 3rem 0 6rem 0
  h2 + h5
    margin-top 1.5rem
  .info-small
    padding 0 0 6rem 0
    img
      margin-right .8rem
      pointer-events none
      user-select none
    strong
      color color-heading
      line-height 1.4rem

.inner .heading
  h1
    line-height 1.3em
    +below('m')
      font-size 2rem
  h3
    line-height 1.3em
    margin-bottom .7rem
    +below('m')
      font-size 2rem
  h2, h5
    display block
  h5
    color color-subheading
    font-weight 400
    letter-spacing 0
    margin 1rem 0
    +below('m')
      font-size 1.3rem
  a
    &:after
      absolute bottom -2px left
      border-bottom 1px dashed color-heading
      width 100%
      height 1px
      display block
      content ' '
    &:hover
      &:after
        border-bottom 1px solid color-primary

.project
  .col
    margin-top 3rem
  small
    text-transform uppercase
    font-weight 500
    letter-spacing .7px
    color color-pink
  h4
    font-size 1.34rem
    display block

  .minicon
    height 16px
    width 16px
    relative top 2.8px left 2px
    stroke text-light
    transition all 150ms ease

  .project-image
    width 100%
    display block
    padding-top 62.5%
    transition all 140ms ease-in
    background-size cover
    background-position 50% 50%
    transform translateZ(0)
    &.disabled
      user-select none
      pointer-events none
      opacity .5
    for num in (1..7)
      &-{num}
        background-image url('/assets/images/project-0' + num + '.png')
        &:hover
          transform perspective(600px) rotateX(10deg)
          transform-style preserve-3d
    & + h4
      margin-top 1.5rem

  .link
    display block
    padding 1.2rem 0
    color text-light
    a
      color color-heading
      &:hover
        color color-primary
        .minicon
          stroke color-primary
          left 7px

#projects + #tools
  margin-top 10rem

#footer
  display flex
  width 100%
  flex 0 0 100%
  padding 2rem 0
  margin-top 6rem
  .inner
    width 100%
    .float-right
      relative top -3px
    a.item
      color text-default
      &:hover
        color color-primary
    .item
      +below('m')
        text-align center
        padding 1rem 0
      .heart
        backface-visibility hidden
        will-change transform
        height 20px
        width 20px
        color color-primary
        fill color-primary
        relative top 3px
      code
        relative top -1px
        padding .2rem .4rem
        border 1px solid border-grey
        background-color transparent
        color color-heading

#content
  transform translateZ(0)

#header, #content
  opacity 0
