@font-face {
    font-family: 'Inter UI';
    src: url('../fonts/hinted-InterUI-Bold.eot');
    src: url('../fonts/hinted-InterUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-InterUI-Bold.woff') format('woff'),
        url('../fonts/hinted-InterUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('../fonts/hinted-InterUI-Medium.eot');
    src: url('../fonts/hinted-InterUI-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-InterUI-Medium.woff') format('woff'),
        url('../fonts/hinted-InterUI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('../fonts/hinted-InterUI-Regular.eot');
    src: url('../fonts/hinted-InterUI-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-InterUI-Regular.woff') format('woff'),
        url('../fonts/hinted-InterUI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
