//Typography
font-size-hero = 1.2em
font-size-small = .86rem
font-size-code = .8rem
font-size-standard = 16px
font-size-h1 = 3.1rem
font-size-h2 = 2.65rem
font-size-h3 = 2.2rem
font-size-h4 = 1.8rem
font-size-h5 = 1.33rem
font-size-h6 = 1.2rem

font-family-heading = 'Graphik', sans-serif;
font-family-standard = 'Graphik', sans-serif;
font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace

//Colors
primary-color = color-pink
primary-white = #fff
primary-black = #000

color-heading = #252525
color-subheading = #757575
color-red = #ff2d2d
color-orange = #ff8f17
color-yellow = #ffbd00
color-green = #12d057
color-teal = #00b1a1
color-blue = #1d7aff
color-violet = #af00e8
color-purple = #670ef5
color-pink = #ff0060
color-brown = #ab5b33
color-grey = #53565a
color-black = #000
color-primary = primary-color
color-ash = #6b6c6e
color-smoke = #e3e7eb

color-blossom = #435ce2
color-kiteshare = #000
color-prowl = #16e1c2
color-unload = #212e41
color-slant = #6756ed
color-trackful = #ff6567
color-maddie = #3cbede

background-light-grey = lighten(color-smoke, 20%)
background-lighter-grey = #f1f3f7
background-lightest-grey = lighten(background-lighter-grey, 25%)

border-info = lighten(color-blue, 10%)
border-warning = lighten(color-yellow, 10%)
border-important = lighten(color-red, 10%)
border-success = lighten(color-green, 10%)

border-grey = color-smoke
box-shadow-grey = rgba(38,38,40,.15)

text-button-primary = primary-white
text-button-red = primary-white
text-button-orange = primary-white
text-button-yellow = primary-white
text-button-green = primary-white
text-button-teal = primary-white
text-button-blue = primary-white
text-button-violet = primary-white
text-button-purple = primary-white
text-button-pink = primary-white
text-button-brown = primary-white
text-button-grey = primary-white
text-button-black = primary-white
text-button-white = text-default

link-light = lighten(color-grey, 15%)
link-light-hover = darken(color-grey, 20%)

text-default = #757575
text-light = #959595
text-code = primary-black

//Identifiers
border-radius-normal = 4px
em-height = 2.8rem

//Page
standard-page-width = 1010px
standard-page-padding = 2.1rem

//Button size
button-small-fontsize = 0.86rem
button-medium-fontsize = 1.2rem
button-large-fontsize = 1.34rem
button-big-fontsize = 1.5rem

button-small-padding = .65em 1.8em
button-medium-padding = .75em 1.8em
button-large-padding = .85em 2em
button-big-padding = .95em 2.2em

//Image size
image-mini = 35px
image-tiny = 70px
image-small = 140px
image-medium = 280px
image-large = 400px
image-big = 600px
image-huge = 800px
image-massive = 940px

//Animations
duration-0 = 0s
duration-s = .08s
duration-m = .18s
duration-l = .3s
duration-xl = .5s
duration-xxl = .8s
duration-xxxl = 1.2s

//Grids
grid-padding = 2rem
grid-length = 12

//Rupture
rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl'
