doctype html(lang='en')
html
	head
		link(rel="stylesheet", href="/assets/css/blossom.css")
		script(src="//code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
		script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js", integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=", crossorigin="anonymous")
		script(src="/assets/js/hover3d.min.js")
	body
		div#app.contain
			section.hero.module.text-center
				h2.text-white  What separates design from art is that design is meant to be... functional.
				h5.text-grey I&#39;m a dedicated back-end web developer with a passion for design and eye for detail. #[br] I mean, who doesn&#39;t love modern user-friendly interfaces?
				p.idea.text-grey Got an awesome idea? #[a.dashed Let&#39;s talk]
			section.module.grid-row.work
				.xs-12.m-6
					.project
						.project__card.grid.work-tapi
							.project__detail
								h4.project__title Twitch API Docs
								p Redesigned live Twitch API documentation
							.project__image
								.project__inner.righter
									img(src="/assets/images/preview_twitchapi.png")
							.project__learn
								a Learn more
				.xs-12.m-6
					.project
						.project__card.grid.work-apse
							.project__detail
								h4.project__title Apse #[span.label.black Alpha]
								p A modern screenshotting tool for all OS platforms
							.project__image
								.project__inner.righter
									img(src="/assets/images/preview_apse.png")
							.project__learn
								a Learn more
				.xs-12.m-8
					.project
						.project__card.grid.work-blossom
							.project__detail
								h4.project__title Blossom UI
								p A free open-source design framework for the modern web
							.project__image
								.project__inner
									img(src="/assets/images/preview_blossom.png")
							.project__learn
								a Learn more
				.xs-12.m-4
					.project
						.project__card.grid.text-center
							.project__detail.nogutter.full
								h4.project__title Taskful
								p Coming soon

		script.
			$(()=> {
				thisT = null
				$(".project").hover3d({
					selector: ".project__card"
				})
				$(".project").hover((e) => {
					console.log()
					thisT = $(e.target).parent().find('.project__learn')
					thisT.show("slide", { direction: "down" }, 100);
				}, ()=> {
					thisT.hide("slide", { direction: "down" }, 100);

				})
			})
