doctype html(lang='en')
html
	head
		title Stefan Mansson
		meta(charset="UTF-8")
		meta(name="description", content="Stefan Mansson's personal portfolio.")
		meta(name="keywords", content="stefan mansson, poftfolio, software engineer")
		meta(name="author", content="Stefan Mansson")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="icon", type="image/x-icon", href="/assets/images/favicon.png")
		link(rel="stylesheet", href="//fast.fonts.net/cssapi/3e6e5f22-9eec-4237-b6d4-23622646fc0c.css")
		link(rel="stylesheet", href="/assets/css/app.min.css")
		link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

	body
		.portfolio
			header.desktop.fadeInUp
				.logo #[img(src="/assets/images/logo.png")]
				nav
					a.link(target="_blank", rel="noreferrer noopener", href="https://www.linkedin.com/in/smansson/") Resumé
					a.link(href="mailto:st.mansson@icloud.com") Get in touch
			header.mobile.fadeInUp
				.logo #[img(src="/assets/images/logo.png")]
			.bind
				section.hero
					.hero--content.fadeInDown
						h1 Building
						h1.highlight experiences
						h4 Hi I'm Stefan, a front &amp; back end web developer from Cyprus.
						h4 Psst, I'm also the founder of #[a.cindr(target="_blank", rel="noreferrer noopener", href="https://cindr.io") #[img(src="/assets/images/cindr.png")]]
					.scroll.fadeInDown
						span
						| Projects
				section.projects
					a.project(target="_blank", rel="noreferrer noopener" href="https://trackful.io")
						.project--trackful
							.project-overlay
								.description
									h2.name Trackful
									h5.sub Simple web analytics
					a.project(target="_blank", rel="noreferrer noopener" href="http://unload.io")
						.project--unload
							.project-overlay
								.description
									h2.name Unload.io
									h5.sub Rapid code sharing
					a.project(target="_blank", rel="noreferrer noopener" href="http://getblossom.io")
						.project--blossom
							.project-overlay
								.description
									h2.name Blossom UI
									h5.sub Modern design framework
					a.project(target="_blank", rel="noreferrer noopener" href="http://twitchapi.com")
						.project--twitch
							.project-overlay
								.description
									h2.name Twitch API Docs
									h5.sub Unofficial Twitch API docs
					a.project(target="_blank", rel="noreferrer noopener" href="http://prowl.io")
						.project--prowl
							.project-overlay
								.description
									h2.name Prowl JS
									h5.sub jQuery modal plugin
					a.project(target="_blank", rel="noreferrer noopener" href="http://slant.tv")
						.project--slant
							.project-overlay
								.description
									h2.name Slant.tv
									h5.sub Movie search database
					a.project(target="_blank", rel="noreferrer noopener" href="http://maddie.one")
						.project--maddie
							.project-overlay
								.description
									h2.name Maddie
									h5.sub Discord bot - Coming soon
					footer.footer
						.social
							h6 Stay connected
							a.s_git(href="https://github.com/Aotik") #[i.ion-social-github]
							a.s_tw(href="https://twitter.com/aotik") #[i.ion-social-twitter]
							a.s_li(href="https://www.linkedin.com/in/smansson") #[i.ion-social-linkedin]
							a.s_dri(href="https://dribbble.com/Aotik") #[i.ion-social-dribbble]
							a.s_fb(href="https://www.facebook.com/aotik7") #[i.ion-social-facebook]
							a.s_ttv(href="https://www.twitch.tv/aotik") #[i.ion-social-twitch]
							small Copyright &copy; mansson.io 2017
			
		script(src="//code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
		script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js", integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=", crossorigin="anonymous")
		script(src="/assets/js/app.js")
