html
	min-height 100%
body
	height 100%
	margin 0
	padding 0

.portfolio
	min-height 100%

header
	fixed top left
	z-index 1000
	background linear-gradient(top, rgba(0,0,0,.74), rgba(0,0,0,0))
	width 100%
	height 6rem
	padding 0 3rem
	line-height 5.8rem
	display flex
	justify-content space-between
	.logo
		color #fff
		font-weight 600
		font-size 1.2rem
		user-select none
		pointer-events none
	nav
		position relative

		a
			color #fff
			font-weight 600
			font-size 1.2rem
			& + a
				margin-left 3rem
	+below('m')
		&.desktop
			display none
.hero
	background-color #000
	display flex
	align-items center
	justify-content left
	min-height 100vh
	width 100%
	fixed top left
	&--content
		max-width 100%
		padding 0 10%
		a
			opacity .8
			position relative
			margin-left 1rem
			height 10px
			transition opacity .14s ease
			img
				absolute top -4px
				height 42px
				animation pulsating 1.4s infinite
			&:hover
				opacity 1
		h1
			font-weight 800
			color #fff
			display inline-block
			vertical-align top
			line-height 1.4em
			font-size 5em
			letter-spacing -.02em
			&.highlight
				background #fff
				padding 0 8px
				color #000
				margin-left 1rem
		h4
			color text-grey
			display block
			margin-top 1rem
			font-weight 500
			font-size 2em
			line-height 1.7em
			& + h4
				margin-top 0
		+below('m')
			text-align center
			h1
				font-size 3.4em
				display block
				width 100%
				&.highlight
					margin-left 0
			h4
				font-size 1.34em

.projects
	width 100%
	min-height 100%
	background-color #000
	relative top 100vh
	.project
		width 100%
		height 22rem
		position relative
		display block
		overflow hidden
		&-overlay
			height 100%
			width 100%
			position relative
			display flex
			justify-content flex-end
			flex-direction row
			align-items center
			padding 0 3rem
			.description
				max-width 100%
				text-align right
				display block
				h2, h5
					color #fff
					font-weight 800
					line-height 1.4em
					transition all .2s ease
				h2
					font-size 3.4rem
					opacity .9
					background-color #fff
					padding 0 8px
					display inline-block
				h5
					font-size 2.4rem
					opacity .7
					margin-top .4rem
		for project in ('trackful' 'unload' 'blossom' 'twitch' 'prowl' 'slant' 'maddie')
			&--{project}
				background-color lighten(lookup('color-' + project), 5%)
				&::before
					width 100%
					height 250%
					content ' '
					absolute left top -90%
					background url('/assets/images/' + project + '.png') no-repeat 8%
					transform rotate(-10deg)
					transition background-size .14s ease-in
					background-size 850px
				.description
					h2
						color lighten(lookup('color-' + project), 5%)
				.project-overlay
					background-color rgba(lookup('color-' + project), .7)
					transition all .2s ease
				&:hover
					&::before
						background-size 950px
					.description
						h2
							color lookup('color-' + project)
					.project-overlay
						background-color rgba(lookup('color-' + project), .85)

		&:hover
			.description
				h2
					opacity 1
				h5
					opacity .8
	+below('m')
		.project
			&-overlay
				justify-content center
				.description
					text-align center
					h2
						font-size 2.4rem
					h5
						font-size 1.8rem

footer
	&.footer
		width 100%
		padding 4rem 2rem 2rem 2rem
		background-color #000
		text-align center
	.social
		display block
		margin 0 auto
		h6
			color text-grey
			font-size 1.6em
			margin-bottom 1.3rem
		small
			margin-top 5rem
			display block
			font-weight 600
			color text-dark
		a
			font-size 4em
			i:before
				transition all .14s cubic-bezier(0.04, 0.89, 0.76, 1.74)
				color text-dark
			& + a
				margin-left 2.6rem
			&:hover
				i:before
					transform scale(1.3)
				&.s_git
					i:before
						color #fff
				&.s_tw
					i:before
						color #00aced
				&.s_li
					i:before
						color #007bb6
				&.s_dri
					i:before
						color #ea4c89
				&.s_fb
					i:before
						color #3b5998
				&.s_ttv
					i:before
						color #6441a5
	+below('m')
		.social
			a
				display inline-block
				cf()
				width 50%
				& + a
					padding .9rem 0
					margin-left 0

.scroll
	width 100%
	text-align center
	absolute left bottom 3rem
	color text-grey
	font-size 1.2em
	span
		width 24px
		height 24px
		border-left 2px solid #fff
		border-bottom 2px solid #fff
		transform rotate(-45deg)
		animation scrollDown 1.4s infinite
		box-sizing border-box
		position relative
		display block
		margin 0 auto
		top -2.4rem
		border-radius 0 0 0 3px

@keyframes scrollDown
	0%
		transform rotate(-45deg) translate(0, 0)
	30%
		transform rotate(-45deg) translate(-10px, 10px)
	70%
		transform rotate(-45deg) translate(0, 0)

@keyframes pulsating
	0%
		transform scale(.8)
	30%
		transform scale(1.1)
	80%
		transform scale(.9)
	90%
		transform scale(.8)
