doctype html
html(lang='en')
  head
    title Stefan's Portfolio
    meta(charset="UTF-8")
    meta(name="description", content="Stefan's Portfolio")
    meta(name="robots", content="index, follow")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="/assets/images/favicon.png")
    link(rel="stylesheet", href="/assets/css/blossom.css")
    script(src="//unpkg.com/feather-icons")
  body
    .bind
        .contain
          nav#header
            p Stefan Mansson
            
          #introduction
              .inner
                .heading
                  h2.landing-ascend Hello, I'm Stefan Mansson. Aspiring full-stack developer, design lover, Labrador owner.
                  h5.landing-descend BSc. Computer Science. Currently @ #[a(href="https://proto.io/", target="_blank", rel="noopener noreferrer") Proto.io]. Founder @ #[a(href="https://cindr.io/", target="_blank", rel="noopener noreferrer") Cindr.io].
                  
          #projects
            .inner
              .heading
                h2 Meet some of my projects.
                h5 In my spare time, I like to be creative with design &amp; development. Listed below are the solo-projects I’ve transformed from a basic idea to a composite product.
              .listings
                .row.project
                  .col.xs-12.m-6
                    small Cindr.io
                    h4 Blossom UI
                    p The free, open-source, design framework for the modern web with over 7,000 package downloads on NPM and counting.
                    .link.cr
                      a(href="https://getblossom.io/", target="_blank", rel="noopener noreferrer") #[i(data-feather="chevron-right")]
                        span Go to Blossom
                  .col.xs-12.m-6
                    small Cindr.io
                    h4 Feedlist
                    p Large-scale, meaningful web analytics and story-telling for developers &amp; project managers; formerly Trackful.
                    .na
                      a.disabled #[i(data-feather="package")] Under development
                .row.project
                  .col.xs-12.m-6
                    small Personal
                    h4 Unload
                    p Transitory code sharing platform for designers &amp; developers.
                    .link.cr
                      a(href="http://unload.io/", target="_blank", rel="noopener noreferrer")  #[i(data-feather="chevron-right")]
                        span Go to Unload.io
                  .col.xs-12.m-6
                    small Cindr.io
                    h4 Kiteshare
                    p Effortless screen capturing and sharing tool for macOS and Windows.
                    .link.cr
                      a(href="http://kiteshare.io/", target="_blank", rel="noopener noreferrer") #[i(data-feather="chevron-right")]
                        span Go to Kiteshare.io
                .row.project
                  .col.xs-12.m-6
                    small Personal
                    h4 Prowl JS
                    p Extensive framework for embeddable modals, served as a plugin for jQuery.
                    .link.cr
                      a(href="http://prowl.io/", target="_blank", rel="noopener noreferrer") #[i(data-feather="chevron-right")]
                        span Go to Prowl.io
                  .col.xs-12.m-6
                    small Personal
                    h4 Slant.tv
                    p Quick movie &amp; tv-series information search engine powered by OMDB.
                    .link.cr
                      a(href="http://slant.tv/", target="_blank", rel="noopener noreferrer") #[i(data-feather="chevron-right")]
                        span Go to Slant.tv
                .row.project
                  .col.xs-12.m-6
                    small Personal
                    h4 Maddie
                    p Lightning fast bot for Discord, providing meaningful game data feeds &amp; services. 
                    .link.cr
                      a(href="http://maddie.one/", target="_blank", rel="noopener noreferrer") #[i(data-feather="chevron-right")]
                        span Go to Maddie.one
                        
          #tools
            .inner
              .heading
                h2 Some useful tools I’ve built.
                h5 During the development process we all come across hurdles. I like to overcome them by creating a tool tailored to the issue and releasing it to the open-source world.
              .listings
                .row.project
                  .col.xs-12
                    small Open-source
                    h4 Webpack, React, Express boilerplate
                    p Incorporating Webpack, React and Express into this boilerplate, the hassle of building a client &amp; server development environment is over. Easy to get started from scratch or implement an existing project.
                    .link
                      a(href="http://maddie.one/", target="_blank", rel="noopener noreferrer") #[i(data-feather="github")]
                        span Explore repository
                .row.project
                  .col.xs-12
                    small Open-source
                    h4 Blossom boilerplate
                    p Set up static websites styled by Stylus, templated by PugJS utilizing Browser Sync and Gulp for development. Made production ready by compressing HTML &amp; CSS, optimizing images and uglifying JS.
                    .link
                      a(href="http://maddie.one/", target="_blank", rel="noopener noreferrer") #[i(data-feather="github")]
                        span Explore repository
                .row.project
                  .col.xs-12
                    small Open-source
                    h4 Darken.io
                    p Content delivery network for Cindr.io and associated platforms, using the fastest content distribution methods available. Currently only the frontend is open-sourced.
                    .link
                      a(href="http://maddie.one/", target="_blank", rel="noopener noreferrer") #[i(data-feather="github")]
                        span Explore repository
                .row.project
                  .col.xs-12
                    small Open-source
                    h4 Loona syntax &amp; UI theme
                    p Minimal, vivid syntax &amp; UI theme packages for Atom, based off One Dark with newly added Tree-View features (under development). 
                    .link
                      a(href="http://maddie.one/", target="_blank", rel="noopener noreferrer") #[i(data-feather="github")]
                        span Explore repository
                        
          #footer
            .inner
              ul.list.horizontal.links
                li
                  a.item(href="https://twitter.com/_animify", target="_blank", rel="noopener noreferrer") Twitter
                li
                  a.item(href="https://www.linkedin.com/in/smansson/", target="_blank", rel="noopener noreferrer") LinkedIn
                li
                  a.item(href="https://github.com/animify", target="_blank", rel="noopener noreferrer") GitHub
                li
                  a.item(href="https://dribbble.com/animify", target="_blank", rel="noopener noreferrer") Dribbble
                li.float-right
                  .item Built with #[i.heart.animation-pulse(data-feather="heart")] by #[code this.owner]
        
    script(src="//code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js", integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=", crossorigin="anonymous")
    script(src="/assets/js/blossom.min.js")
    script(src="/assets/js/app.js")
    script.
      feather.replace()
