@font-face {
    font-family: 'Inter UI';
    font-weight: 400;
    src: url('./assets/fonts/Inter-UI-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 500;
    src: url('./assets/fonts/Inter-UI-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 600;
    src: url('./assets/fonts/Inter-UI-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 700;
    src: url('./assets/fonts/Inter-UI-ExtraBold.ttf')  format('truetype');
}