@import url("https://rsms.me/inter/inter-ui.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 22px;
  background-color: #000;
  overflow-x: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  padding: 64px 32px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 54px;
  margin: 0 0 8px 0;
  color: #fff;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 36px;
  margin: 0 0 0 0;
  color: #fff;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 8px 0;
  color: #afafaf;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  color: #afafaf;
}

small {
  margin: 0;
  font-size: 12px;
  color: #757575;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 28px 32px;
  width: 100%;
  z-index: 20;
  opacity: 0;
  animation: fadeDown 1000ms 400ms ease forwards;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    a {
      text-decoration: none;
      font-weight: 500;

      + a {
        margin-left: 24px;
      }
    }
  }
}

.main {
  padding-top: 128px;
  padding-bottom: 64px;
  animation: fadeDown 1000ms ease forwards;

  h3 {
    font-weight: 400;
  }
}

.content {
  opacity: 0;
  animation: fadeUp 1000ms 200ms ease forwards;
}

.info {
  margin-bottom: 24px;

  h2 {
    line-height: 1.2;
  }

  h3 {
    margin-top: 4px;
    font-weight: 400;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  + .info {
    margin-top: 72px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  will-change: transform;
  background-color: rgba(#212121, .94);

  &:not(.side):hover {
    .desc {
      transform: translateY(-4px);
    }
  }

  .img {
    height: 200px;
    background-size: cover;
    background-position: top center;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .desc {
    padding: 20px;
    flex-grow: 1;
    background-color: rgba(#212121, .94);
    transition: transform ease 140ms, padding ease 140ms;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;

    h3 {
      color: #fff;
      font-weight: 600;
      margin: 0 0 4px 0;
    }

    .url {
      display: flex;
      padding-top: 16px;
      margin-top: auto;
      text-decoration: none;
      color: #757575;
    }
  }
}

.project.side {
  justify-content: space-between;
  padding: 20px;

  .desc {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }

  .actions {
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
  }
}

.tags {
  display: flex;
  align-items: center;

  .tag {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 600;
    color: rgba(250, 255, 100, 0.6);
    background-color: rgba(247, 255, 182, 0.1);
    + .tag {
      margin-left: 8px;
    }
  }
}

.button {
  text-decoration: none;
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
  text-align: center;

  &.grey {
    background-color: rgba(#212121, 0.8);
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      background-color: rgba(#212121, 1);
      color: rgba(255, 255, 255, 1);
    }
  }

  &.full {
    padding: 12px 24px;
    width: 100%;
    margin-top: 32px;
    border-radius: 8px;
  }
}

.waves {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: -1;

  .wave {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.08);
    width: 1000px;
    height: 1000px;
    margin-left: -500px;
    margin-top: -500px;
    transform-origin: 50% 48%;
    border-radius: 42%;
    animation: rotate 4000ms infinite linear;

    &.two {
      opacity: 0.3;
      margin-top: -500px;
    }

    &.three {
      animation: rotate 6000ms infinite linear;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
small,
.tag,
.button,
p {
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #000;
    will-change: width;
    transform: translateZ(0);
    animation: animateRect 500ms 1000ms cubic-bezier(0.075, 0.82, 0.165, 1)
      forwards;
  }
}

@keyframes animateRect {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.main {
  h1::after {
    animation-delay: 500ms;
  }
  h3::after {
    animation-delay: 700ms;
  }
}

.project {
  small::after,
  p::after {
    animation-delay: 1200ms;
  }
  p.url::after {
    animation-delay: 1400ms;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 880px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project.side {
    .button {
      width: 100%;
    }
    .tags {
      display: none;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
  width: 100%;
  padding: 0 32px 64px !important;

  .social {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  a {
    color: #fff;

    + a {
      margin-left: 24px;
    }
  }
}
