@import url("https://rsms.me/inter/inter-ui.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 22px;
  background-color: rgb(246, 247, 248);
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  padding: 64px 32px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 48px;
  margin: 0 0 8px 0;
  color: #000;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin: 0 0 0 0;
  color: #000;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 8px 0;
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  color: #555;
}

small {
  margin: 0;
  font-size: 12px;
  color: #757575;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 24px;
  width: 100%;
  z-index: 20;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      font-weight: 500;

      + a {
        margin-left: 24px;
      }
    }
  }
}

.main {
  padding-top: 128px;
  padding-bottom: 80px;

  h3 {
    font-weight: 400;
  }
}

.info {
  margin-bottom: 24px;

  h3 {
    font-weight: 400;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  + .info {
    margin-top: 64px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
  will-change: box-shadow, transform;
  transition: box-shadow 140ms ease, transform 140ms ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
  }

  .img {
    height: 200px;
    background-size: cover;
    background-position: top center;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .desc {
    padding: 20px;
    flex-grow: 1;

    h3 {
      color: #252525;
      font-weight: 600;
      margin: 0 0 4px 0;
    }

    .url {
      display: flex;
      padding-top: 16px;
      margin-top: auto;
      text-decoration: none;
      color: #757575;
    }
  }
}

.project.side {
  justify-content: space-between;
  padding: 20px;

  .desc {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .actions {
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
  }
}

.tags {
  display: flex;
  align-items: center;

  .tag {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 600;
    color: rgba(#4500ff, 0.7);
    background-color: rgba(133, 115, 255, 0.1);
    + .tag {
      margin-left: 8px;
    }
  }
}

.button {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
}

.waves {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  z-index: -1;

  .wave {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.05);
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
    transform-origin: 50% 48%;
    border-radius: 42%;
    animation: rotate 4000ms infinite linear;

    &.two {
      opacity: 0.1;
      margin-top: -400px;
    }

    &.three {
      animation: rotate 6000ms infinite linear;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
